{% extends 'base.html' %}

{% block title %}
<title>FreeWriter | Searched Books</title>
{% endblock %}

{% block content %}
<div class = 'container'>
    <div class = 'row'><h4>Searched Book</h4></div>
    <div class = 'row'>
       {% if searched_books %}
       {% for book in searched_books %}
      <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
        <a href = "">
          <div>
                         <div class="uk-card uk-card-default uk-card-body">
                 {% if book.cover_image %}
                     <img src="{{book.cover_image.url}}" alt="{{book.title}}" style="max-width: 100%; height: auto;">
                 {% else %}
                     <div style="width: 100%; height: 150px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center; color: #666;">
                         <span>No Image</span>
                     </div>
                 {% endif %}
             </div>
        </div>
      </a>
      </div>
      {% endfor %}
      {% else %}
      <div class = 'row'>
          <h3>Book Not Available! Check Back Later</h3>
      </div>
      {% endif %}


    </div>
  </div>
  {% endblock %}